.twitter_tweet { /* class for the tweet itself */
margin:0px 10px;
padding:0px;
border:none;
}

.twitter_link { /* class for all links inside the tweet*/


}

.twitter_to { /* class for @username */
}


.twitter_tag { /* class for all hashtags */


}


.twitter_ago { /* class for the date */
	font-style:italic;

}

.music_lastfm {/* class for all the song */
margin:0px 10px;
padding:0px;
border:none;
}
.music_link {/* class for the music link */


}
.music_ago { /* class for the date */
	font-style:italic;
}